<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>List of Prodigy Service</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
        body {
            margin-top: 50px;
        }

        .inner-table > td {
            padding: 0;
        }

        .inner-table > td > table {
            margin: 0;
        }

        th, td {
            text-align: center;
        }
    </style>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>List of Prodigy services</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>
                This website makes it possible to run multiple Prodigy instances on the same website.
                So we don't need to start a Docker container for each instance. All annotations are saved to
                mongo://mongodb05.nersc.gov/COVID-19-text-mining you specified collection.
            </p>
            <p>
                It is strongly recommended to read Prodigy documentations
                <a href="https://prodi.gy/docs/recipes" target="_blank" rel="noreferrer">here</a>.
            </p>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Status & ID</th>
                    <th scope="col">MongoDB Collection</th>
                    <th scope="col">Prodigy Arguments</th>
                    <th scope="col">Actions</th>
                    <th scope="col">Console Output</th>
                    <th scope="col" colspan="4">Options</th>
                </tr>
                </thead>
                <tbody>
                {% for service in all_services %}
                    <tr class="click-share" id="service-{{ service['name'] }}">
                        <td align="center">
                            {% if service['active'] %}
                                {% if service['listening'] %}
                                    <span class="badge badge-primary">Active</span>
                                {% else %}
                                    <span class="badge badge-warning require-page-reload">Starting</span>
                                {% endif %}
                            {% else %}
                                <span class="badge badge-danger">Inactive</span>
                            {% endif %}
                            {{ service['name'] }}
                        </td>

                        <td>
                            {{ service['db_collection'] }}
                        </td>

                        <td>
                            <span class="badge badge-secondary">$ prodigy</span>
                            {{ service['arguments'] }}
                        </td>

                        <td align="center">
                            {% if service['listening'] %}
                                <a href="{{ url_for('proxy_service', service_id=service['name'], path='') }}"
                                   target="_blank">
                                    Start annotation
                                </a>

                            {% elif service['active'] %}
                                Please wait...
                            {% else %}
                                <a href="{{ url_for('download_folder', service_id=service['name']) }}"
                                   target="_blank">
                                    Download folder
                                </a>
                            {% endif %}
                        </td>

                        <td align="center">
                            <a href="{{ url_for('view_console', service_id=service['name']) }}" target="_blank">
                                View console
                            </a>
                        </td>

                        <td>
                            {% if service['active'] %}
                                <form action="{{ url_for('stop_service', service_id=service['name']) }}" method="post">
                                    <button class="btn btn-sm btn-warning">
                                        Stop
                                    </button>
                                </form>
                            {% else %}
                                <form action="{{ url_for('start_service', service_id=service['name']) }}" method="post">
                                    <button class="btn btn-sm btn-primary">
                                        Start
                                    </button>
                                </form>
                            {% endif %}
                        </td>

                        <td align="center">
                            <a class="btn btn-sm btn-info  {% if service['active'] %} confirm-edit {% endif %}"
                               href="{{ url_for('edit_service', service_id=service['name']) }}">
                                Edit
                            </a>
                        </td>

                        <td align="center">
                            <button class="btn btn-sm btn-secondary toggle-sharing">Sharing</button>
                        </td>

                        <td align="center">
                            <form action="{{ url_for('remove_service', service_id=service['name']) }}" method="post">
                                <button class="btn btn-sm btn-danger confirm_removal">
                                    Remove
                                </button>
                            </form>

                        </td>
                    </tr>

                    <tr class="inner-table" style="display:none;">
                        <td colspan="3"></td>
                        <td colspan="6">
                            <table class="table table-bordered">
                                {% for share in service['share'] %}
                                    <tr>
                                        <td>
                                            Share with: {{ share['to'] }}
                                            {% if share['email'] %}&lt;{{ share['email'] }}&gt;{% endif %}
                                        </td>
                                        <td>Share link: <a href="{{ url_for('share_proxy_service',
                                        service_id=service['name'],
                                        share_id=share['id'], path='') }}"
                                                           target="_blank">Here</a></td>
                                        <td>
                                            <form action="{{ url_for('remove_share',
                                               service_id=service['name'], share_id=share['id']) }}" method="post">
                                                <button class="btn btn-sm btn-danger remove-sharing">
                                                    Remove sharing
                                                </button>
                                            </form>

                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="3" style="text-align: left">
                                        <form method="POST"
                                              action="{{ url_for('add_share', service_id=service['name']) }}">
                                            <label>Add sharing with:</label>
                                            <input name="sharewith" id="sharewith" placeholder="Name">
                                            <br>
                                            <label>Send email to:</label>
                                            <input name="email" id="email" type="email" placeholder="Email (Optional)">
                                            <button type="submit" class="btn btn-sm btn-primary">
                                                Add sharing
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-md-12">
            <p>
                <a href="{{ url_for('new_service_desc') }}">Click here to start a new Prodigy instance.</a>
            </p>
            <p>
            <form action="{{ url_for('archive_all_instances') }}" method="post">
                <b>This is for admins:</b>
                <button class="save-all" style="border:none;padding:0;color:#007bff;">
                    Backup
                </button>
                all instances to MongoDB.
                <a href="{{ url_for('list_archives') }}">Recover</a> instances from MongoDB.
            </form>
            </p>
            <p>
                <a href="{{ url_for_security('logout') }}">Logout</a>
            </p>
        </div>
    </div>


</div> <!-- /container -->

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
        integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
        crossorigin="anonymous"></script>
<script>
  $('.confirm_removal').click(function (e) {
    if (!confirm("Do you really want to remove this Prodigy instance? The database will keep to exist though!")) {
      e.preventDefault();
      return false;
    }
  });

  $('.save-all').click(function (e) {
    if (!confirm("Are you sure? This operation will take some time.")) {
      e.preventDefault();
      return false;
    }
  });

  $('.confirm-edit').click(function (e) {
    if (!confirm("This service is running. Editing it will force it to stop first. Continue?")) {
      e.preventDefault();
      return false;
    }
  });


  $('.remove-sharing').click(function (e) {
    if (!confirm("Are you sure you want to remove this sharing link?")) {
      e.preventDefault();
      return false;
    }
  });

  if ($('.require-page-reload').length > 0) {
    setTimeout(function () {
      location.reload();
    }, 1000)
  }

  $('.toggle-sharing').click(function () {
    $(this).closest('tr').next().toggle();
  });

  const urlParams = new URLSearchParams(window.location.search);
  urlParams.getAll('viewsharing').forEach(function (v) {
    $('#service-' + v).next().show();
  });

</script>
</body>
</html>
