<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>List of Prodigy Service</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
        body {
            margin-top: 50px;
        }

        .inner-table > td {
            padding: 0;
        }

        .inner-table > td > table {
            margin: 0;
        }

        .click-share {
            cursor: pointer;
        }
    </style>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>List of Prodigy services</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>
                This website makes it possible to run multiple Prodigy instances on the same website.
                So we don't need to start a Docker container for each instance.
            </p>
            <p>
                Prodigy documentations
                <a href="https://prodi.gy/docs/recipes" target="_blank" rel="noreferrer">here</a>.
            </p>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Status</th>
                    <th scope="col">Name</th>
                    <th scope="col">Prodigy Arguments</th>
                    <th scope="col">Start Annotation</th>
                    <th scope="col">Console Output</th>
                    <th scope="col">Remove Prodigy</th>
                </tr>
                </thead>
                <tbody>
                {% for service in all_services %}
                    <tr class="click-share" id="service-{{ service['id'] }}">
                        <td align="center">
                            {% if service['active'] %}
                                {% if service['listening'] %}
                                    <span class="badge badge-primary">Active</span>
                                {% else %}
                                    <span class="badge badge-warning require-page-reload">Starting</span>
                                {% endif %}
                                <br/>
                                <a href="{{ url_for('stop_service', service_id=service['id']) }}">Stop</a>
                            {% else %}
                                <span class="badge badge-danger">Inactive</span>
                                <br/>
                                <a href="{{ url_for('start_service', service_id=service['id']) }}">Start</a>
                            {% endif %}
                        </td>

                        <td align="center">
                            {{ service['name'] }}
                            <br/>
                            <button class="btn btn-sm btn-secondary">Sharing options</button>
                        </td>

                        <td>
                            <span class="badge badge-secondary">$ prodigy</span>
                            {{ service['arguments'] }}</td>

                        <td align="center">
                            {% if service['listening'] %}
                                <a href="{{ url_for('proxy_service', service_id=service['id'], path='') }}"
                                   target="_blank">
                                    Click here
                                </a> to enter

                            {% elif service['active'] %}
                                Please wait...
                            {% else %}
                                Please start it first
                            {% endif %}
                        </td>

                        <td align="center">
                            <a href="{{ url_for('view_console', service_id=service['id']) }}" target="_blank">
                                View console
                            </a>
                        </td>

                        <td align="center">
                            <a class="btn btn-danger confirm_removal"
                               href="{{ url_for('remove_service', service_id=service['id']) }}">
                                Remove
                            </a>
                        </td>
                    </tr>

                    <tr class="inner-table" style="display:none;">
                        <td colspan="2"></td>
                        <td colspan="4">
                            <table class="table table-bordered">
                                {% for share in service['sharing'] %}
                                    <tr>
                                        <td>Share with: {{ share['to'] }}</td>
                                        <td>Share link: <a href="{{ url_for('share_proxy_service',
                                        service_id=service['id'],
                                        share_id=share['id'], path='') }}"
                                                           target="_blank">Here</a></td>
                                        <td>
                                            <a class="btn btn-sm btn-danger remove-sharing"
                                               href="{{ url_for('remove_share',
                                               service_id=service['id'], share_id=share['id']) }}">
                                                Remove sharing
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="3">
                                        <form method="POST"
                                              action="{{ url_for('add_share', service_id=service['id']) }}">
                                            <label>Add sharing with:</label>
                                            <input name="sharewith" id="sharewith" placeholder="Name">
                                            <button type="submit" class="btn btn-sm btn-primary">
                                                Add sharing
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-md-12">
            <a href="{{ url_for('new_service_desc') }}">Click here to start a new Prodigy instance.</a>
        </div>
    </div>


</div> <!-- /container -->

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
        integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
        crossorigin="anonymous"></script>
<script>
  $('.confirm_removal').click(function (e) {
    if (!confirm("Do you really want to remove this Prodigy instance? The database will be purged!")) {
      e.preventDefault();
      return false;
    }
  });

  $('.remove-sharing').click(function (e) {
    if (!confirm("Are you sure you want to remove this sharing link?")) {
      e.preventDefault();
      return false;
    }
  });

  if ($('.require-page-reload').length > 0) {
    setTimeout(function () {
      location.reload();
    }, 1000)
  }

  $('.click-share').click(function () {
    $(this).next().toggle();
  });

  const urlParams = new URLSearchParams(window.location.search);
  urlParams.getAll('viewsharing').forEach(function (v) {
    $('#service-' + v).next().show();
  });

</script>
</body>
</html>
